<html>
  <head>
  </head>
  <body style="background-color:#F7F7F7; font-family: 'Helvetica New', Arial, sans-serif; color: #6D778E; text-rendering: optimizeLegibility;">
    <div style="max-width:700px; margin:0 auto; text-align:center;">
      <div style="background-color:#FFFFFF; border:1px solid #C5CAD5; padding:30px; border-radius:3px;">
        <h1 style="font-size:30px; font-weight:normal;">Hi <%= @name %>,</h1>
        <h3 style="font-weight:normal;">sorry to inform you that your order has not been paid.</h3>
      </div><!-- /body -->
      <div style="font-size: 14px; line-height: 20px; margin-top: 20px; color: #A3AEB8;">
        <div style="border-top: 1px solid #cddce1; -webkit-box-shadow: 0 1px 0 0 #ffffff; -moz-box-shadow: 0 1px 0 0 #ffffff; box-shadow: 0 1px 0 0 #ffffff;"></div>
        <p style="margin-bottom:5px;">&copy; 2013 <span style="color: #00b5de;">PayForMe</span></p>
      </div><!-- /footer -->
    </div>
  </body>
</html>
