<h1>Hello World</h1>
<p>Payforme is a new shiny service and needs a lot of cool marketing texts at this place...</p>
<p>... but instead we can show you a picture of a random dog:</p>
<img src="http://placedog.com/300/200" alt="">